body, div, section, footer{
   font-family:'Montserrat', sans-serif ;
   text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family:'Montserrat', sans-serif ;
}


/* Sections */
.colored-section{
    background-color:#ff4c68 ;
    color: #fff;
}
.white-section{
    background-color: #fff;
    color:black;
}


/*-----------------------------------------------*/


/*Title*/
.main-div{
    text-align: left;
}
#title{
    max-height: 800px;
    padding-bottom: 50px;
}
 #title .container-fluid{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    height: 1000px;
}

/* Title Image */
.title-image{
    width: 60%;
    transform: rotate(30deg);
    top: 150px;
    z-index: 1;
    position: absolute;
}

/* Downloads Buttons */
.download-button{
    margin-top: 15%;
}

/* Navigation Bar */
#title .navbar{
    padding: 0 0 4.5rem;
}
#title .navbar-brand{
    color: white;
    font-weight: bold;
    font-size: 40px;
}
.col-lg-6 h1{
    color: white;
    font-size: 60px;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family:'Montserrat-Light';
}


/* Headings */
.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;

}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
    font-weight: bolder;
    font-size: 150px;
    height: 300px;
}
h2{
    font-family:'Montserrat', sans-serif ;
    font-size: 6rem;
    line-height: 1.5;
    padding: 2%;
    padding-bottom: 0;
}



/* Feature */

.feature-box i{
    font-size: 100px;
    color:#ff4c68 ;
    padding: 5%;
}
.feature-box h3{
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}
.feature-box p{
    color: #afafaf;
    font-size: 25px;
}
.feature-title{
    font-size: 30px;
}


/* Features Sections  */
#features{
    padding: 7% 15%;
    background-color: white;
    z-index: 2;
    position: relative;
}
.feature-box{
    padding: 5%;
}

.feature-box i:hover{
    color: #ff4c68;
}

/* Testemonials */
#testimonials-carousel{
    padding: 7% 15%;
}
.testimonial-image{
    width: 10%;
    border-radius: 200%;
    margin: 20px;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 15%;
    background-color: #ff4c68;
    color: rgb(196, 126, 126);
}
.carousel-item h2 , .carousel-item em{
    color: white;
}
.testimonial-text{
   font-size: 3rem;
    line-height: 1.5;
}



/* Pricing Section */

#pricing{
    padding: 100px;
}
.pricing-col{
    padding: 3% 2%;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}



/* Call to Action */
#cta{
    
    color: white;
    height: 500px;
    padding-top: 100px;
}
#cta button{
    margin-top: 60px;
}
#cta h3{
    font-size: 2rem;
}


/*Footer*/
#footer {
    padding: 60px;
    height: 160px;
}
#footer p i{
    font-size: 40px;
    padding: 10px;
}

#footer p{
    font-size: 18px;
    padding: 20px;
}




/* Media Query */

@media(max-width: 1028px){

    section{
        text-align: center;
    }
    .title-image{
        visibility: hidden;
        text-align: center;
    }
    #features{
        z-index: 0;
    }
    #title{
        width: 100%;
        height: 100%;
    }

}












